.header {
    background-color: var(--green);
    height: 5rem;
    border-bottom: 1px solid var(--black);
}

.content {
    display: flex;

    height: 5rem;
    margin: auto 5vw;

    justify-content: space-between;
    align-items: center;

    img {
        &:hover{
            filter: contrast(2);
            cursor: pointer;
        }
    }
}

.navItems {
    list-style: none;

    display: flex;

    font-size: 2rem;
    text-shadow: 2px 2px 3px black;

    a {
        padding: 0 2rem;

        &:hover {
            color: var(--yellow);
        }
    }
}

.activeLink {
    color: var(--yellow) !important;
}

.divisor {
    padding: 0 2rem;

    &::after {
        content: "|";
        color: var(--yellow);
        font-weight: 100;
    }
}

.gambiarra {
    width: 200px;

    display:flex;
    justify-content: flex-end;

    a, p {    
        &:hover {
            color: var(--yellow);
        }
    }
}