.header {
    background-color: var(--green);
    height: 5rem;
    border-bottom: 1px solid var(--black);
}

.content {
    display: flex;

    height: 5rem;
    margin: auto 5vw;

    justify-content: space-between;
    align-items: center;

    img {
        &:hover{
            filter: contrast(2);
            cursor: pointer;
        }
    }
}

.navItems {
    list-style: none;

    display: flex;

    font-size: 2rem;
    text-shadow: 2px 2px 3px black;

    a {
        padding: 0 2rem;

        &:hover {
            color: var(--yellow);
        }
    }
}

.activeLink {
    color: var(--yellow) !important;
}

.divisor {
    padding: 0 2rem;

    &::after {
        content: "|";
        color: var(--yellow);
        font-weight: 100;
    }
}

.gambiarra {
    width: 200px;

    display:flex;
    justify-content: flex-end;
}

.logoutbtn {
    transition: background-color 0.3s, box-shadow 0.3s;

    padding: 12px 29px 12px 29px;
    border: none;
    border-radius: 3px;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 1px 1px rgba(0, 0, 0, 0.25);

    color: var(--white);
    text-shadow: 1px 1px 1px black;

    font-size: 14px;
    font-weight: 500;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans",
        "Droid Sans", "Helvetica Neue", sans-serif;

    background-color: var(--yellow);
    background-repeat: no-repeat;
    background-position: 12px 11px;

    &:hover {
        cursor: pointer;
        filter: brightness(0.8);
        box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 2px 4px rgba(0, 0, 0, 0.25);
    }

    &:active {
        background-color: #eeeeee;
    }

    &:focus {
        outline: none;
        box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 2px 4px rgba(0, 0, 0, 0.25), 0 0 0 3px #c8dafc;
    }

    &:disabled {
        background-color: #ebebeb;
        box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 1px 1px rgba(0, 0, 0, 0.25);
        cursor: not-allowed;
    }
}