.backgroudDegrade{
    background: linear-gradient(to top, rgba(32, 32, 32, 0) 0%, rgba(43, 43, 43, 0.5) 100%);
    border-radius: 70px;
    margin-left: 20%;
    margin-top: 1%;
    width: 60%;
    height: 80vh;
}

.perfil1{
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 20%;
    margin-top: 10%;
    margin-left: 18%;
}
.perfil2{
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 20%;
    margin-top: 10%;
    margin-left: 7%;
}

.imagePerfil{
    height: 20vh;
    border-radius: 90px;
}

.textPerfil{
    font-size: 2rem;
    color: #ffffff;
    display: block;
    text-shadow: 2px 2px 3px black;
}

.vs{
    display: inline-block;
    width: 10%;
    margin-top: 13%;
    margin-left: 7%;
}

.button {
    padding: 15px 25px;
    
    font-size: 24px;
    text-align: center;
    text-shadow: 2px 2px 3px black;
    color: #fff;
    
    width: 40%;;
    
    cursor: pointer;
    
    outline: none;
    background-color: var(--yellow);
    border: none;
    border-radius: 5px;
    box-shadow: 0 7px #999;
    margin-left: 30%;
    margin-top: 5%;

    &:hover{
        background-color: #be9310;
    }

    &:active{
        background-color: #be9310;
        box-shadow: 0 5px #666;
        transform: translateY(4px);
    }
  }
  